*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Poppins',sans-serif;
}
.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 200px 40px;
}
.heading{
    background-color: #3ded97;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 120px 0 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    position: relative;
   
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
    color: red;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
    color: #fff;
}
.details>p{
    color: #fff;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details>button{
    background-color: #fe249a;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav .menu-btn{
  position: absolute;
  left: 20px;
  top: 10px;
  background: #4a4a4a;
  height: 40px;
  width: 40px;
  z-index: 9;
  border: 1px solid green;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  transition: all 0.3s ease;
}

#btn:checked ~ .menu-btn{
  left: 249px;
}

#sidebar{
  position: fixed;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -370px;
  transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .title{
  line-height: 65px;
  text-align: center;
  background: #ff7377;
  font-size: 25px;
  font-weight: 600;
  color:  #f2f2f2;
  border-bottom: 1px solid #222;
}
#sidebar .list-items{
  position: relative;
  background: black;
  width: 100%;
  height: 100%;
 
}
#sidebar .list-items li{
  padding-left: 70px;
  line-height: 50px;
  border-top: 2px green;
  border-bottom: 2px green;
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px red;
}

#sidebar .list-items li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  height: 50%;
  width: 100%;
  display: block;
}
#sidebar .list-items li a i{
  margin-right: 18px;
}



